.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: #fff;
  text-align: center;
  /* overflow: hidden; */
  overflow: scroll;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imageWrapper {
  width: calc(25% - 20px); /* Adjust the width to accommodate four images per row */
  margin-bottom: 20px;
}

/* For larger screens, display 10 images per row */
@media only screen and (min-width: 1200px) {
  .imageWrapper {
    width: calc(10% - 20px); /* Adjust the width to accommodate ten images per row */
  }
}

/* For medium-sized screens, display 5 images per row */
@media only screen and (max-width: 1200px) {
  .imageWrapper {
    width: calc(20% - 20px); /* Adjust the width to accommodate five images per row */
  }
}

/* For smaller screens, display 2 images per row */
@media only screen and (max-width: 768px) {
  .imageWrapper {
    width: calc(50% - 20px); /* Adjust the width to accommodate two images per row */
  }
}

/* For very small screens, display 1 image per row */
@media only screen and (max-width: 480px) {
  .imageWrapper {
    width: calc(100% - 20px); /* Adjust the width to accommodate one image per row */
  }
}


.image {
  width: 100%;
  height: auto;
}

button {
  margin-top: 5px;
}


.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  text-align: center;
  color: white;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
  font-size: 6rem;
}

.sub-text {
  font-size: 25px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.connect-img {
  height: 350px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ctaButton {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: #0fe453; /* Add your preferred button background color */
  color: #2a2a2a; /* Add your preferred button text color */
  transition: background-color 0.3s ease; /* Add smooth transition effect */
}

.ctaButton:hover {
  background-color: #0056b3; /* Change background color on hover */
}

.connect-wallet-button {
  color: white;
  background: -webkit-linear-gradient(left, #ff8867, #ff52ff);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  max-width: 300px;
}

.mint-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

button:disabled {
  cursor: not-allowed;
  background: #ccc;
  color: #333;
}

.item-image {
  height: 100px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* bottom: 0 px; */
  width: 100%;
  /* bottom: 0; */
  /* left: 0; */
  padding-bottom: 20px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connected-container input[type="text"] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

.buy-button {
  border: none;
  background-color: #4664ff;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.download-button {
  border: none;
  background-color: #4664ff;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.create-product-button {
  margin: 10px;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 1;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.centered-image {
  display: block; /* Ensures the image takes up the full width available */
  margin: 0 auto; /* Centers the image horizontally */
  max-width: 300px; /* Ensures the image does not exceed the container's width */
  height: auto; /* Allows the image to scale proportionally */
}



